<!DOCTYPE html>
<html>
<head>
    <title>TruthFinder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
        setTimeout(() => {
            window.location.href = "/overview";
        }, 2000);   // 2 sec landing
    </script>
</head>

<body class="landing-body">

<div class="landing-center">
    <svg class="landing-logo" viewBox="0 0 24 24">
        <path d="M12 2L4 6v6c0 5 3.5 9 8 10 4.5-1 8-5 8-10V6l-8-4z"/>
    </svg>

    <h1 class="landing-title">TruthFinder</h1>
</div>

</body>
</html>